<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; line-height: 1.5; padding: 20px;">
    <h2 style="color: #2c3e50;">Hello, {{ subject_name }}!</h2>
    <p>Thank you for your desire for cooperation with me with your project: <b><i>{{ project_theme }}</i></b>.</p>
    <p>I have received your request and will communicate with you as quickly as possible.</p>
    <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
    <p style="font-size: 12px; color: #7f8c8d;">It's an automatic answer to your request from
        <a href="www.ychernyshev.dev" target="_blank">www.ychernyshev.dev</a>
    </p>
</body>
</html>