# === Global ===
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
.DS_Store
.env
.env.*
!.env.example

# === Python / Django ===
.venv/
venv/
calculator/__pycache__/
calculator/db.sqlite3
calculator/media/
calculator/staticfiles/
calculator/.pytest_cache/
calculator/.mypy_cache/
calculator/.coverage
calculator/coverage.xml

# === Node / Vue ===
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.output/
frontend/.eslintcache

# === Docker ===
*.pid
*.sock
docker-compose.override.yml
.docker/
Dockerfile.*
*.dockerfile
*.tar
*.img

# === VSCode / IDEs ===
.vscode/
.idea/
*.swp

# === Atom / Pulsar ===
.atom/
.pulsar/
storage/
compile-cache/
recovery/
packages/
blob-store/

# === OS ===
Thumbs.db
ehthumbs.db
