* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --p-light-1: #ffffff;
  --p-light-2: #F5F7FA;
  --p-light-3: #dedede;
  --p-dark-1: #323A50;
  --p-dark-2: #374151;
  --p-darker: #171C28;
  --primary-emphasis: #052C65;
  --primary-emphasis-1: #0C4C7D;
  --primary-emphasis-2: #43759B;
  --primary-emphasis-3: #2281b9;
  --primary-emphasis-4: #47A4F4;
  --neon-blue-1: #00f3ff;
  --ideal-green-1: #409E01;
  --sunrise-1: #FFC107;
}

html,
body {
  background-image: url("../assets/personal/dark_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--p-dark-1);
  font-family: "Nunito", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
}

.neon-border {
  border-top: .1rem solid;
  border-image-source: linear-gradient(
          to right,
          var(--primary-emphasis-1) 0%,
          #3D159E 50%,
          var(--primary-emphasis-1) 100%
  );
  border-image-slice: 1;
  filter: drop-shadow(0 0 5px rgba(0, 123, 255, 0.5));
  box-shadow: 0px 2px 10px rgba(61, 21, 158, 0.4);
}

.header-container {

}

.text-italic {
  font-style: italic;
}

/*.btn-primary {*/
/*  background-color: #3b82f6;*/
/*  border-color: #3b82f6;*/
/*}*/

/*.btn-primary:hover {*/
/*  background-color: #2563eb;*/
/*}*/

.full-height {
  height: 100vh;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.text-upper {
  text-transform: uppercase;
}

.text-c-light {
  color: #636b6f;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.links > a.text-c-primary {
  position: relative;
  display: inline-block;
  color: var(--primary-emphasis-3);
  text-decoration: none;
}

.links > a.text-c-primary::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: -10px;
  width: 80%;
  height: 2px;
  background-color: var(--primary-emphasis-3);
}

.underline-none {
  text-decoration: none;
}

.underline-none:hover,
.underline-none:focus {
  text-decoration: none;
}

.m-b-md {
  margin-bottom: 30px;
}

.position-relative {
  position: relative;
}

.bg-c-gray {
  background: var(--p-light-2);
}

.bg-c-dark-gray {
  background: var(--p-light-3);
}

.bg-c-sunrise {
  background: var(--sunrise-1);
}

.bg-primary-emphasis {
  background: var(--primary-emphasis);
}

