{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'calculator/bootstrap/bootstrap.min.css' %}">
    <style>
        .bold {
            font-weight: 700;
        }

        .underline {
          position: relative;
          padding-right: 0;
          padding-left: 0;
          padding-bottom: 0.55rem;
          border-bottom: .15rem solid black;
        }

    </style>
</head>
<body class="bg-body-tertiary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-10 mx-auto">
                {% include 'calculator/inc/_topnav.html' %}
            </div>
        </div>
    </div>
    <main class="col-md-9 mx-sm-auto col-lg-10 px-md-4">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'calculator/bootstrap/bootstrap.bundle.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>