{% extends 'calculator/_base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom mt-5 mb-5">
    <h4 class="text-uppercase">The form adds a new entry on a new line on the next day of power generation with a solar
        system</h4>
</div>
<div class="card-body">
    <form class="card-text" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xxl-3 bg-light p-3">
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.date.id_for_label }}">Дата</label>
                        {{ form.date }}
                        {% if form.date.errors %}
                        <div class="text-danger">{{ form.date.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.power.id_for_label }}">Джерело енергії</label>
                        {{ form.power }}
                        {% if form.power.errors %}
                        <div class="text-danger">{{ form.power.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.weather.id_for_label }}">Погода</label>
                        {{ form.weather }}
                        {% if form.weather.errors %}
                        <div class="text-danger">{{ form.weather.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 p-3">
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.morning_data_charge.id_for_label }}">Morning
                                charge
                                (%)</label>
                            {{ form.morning_data_charge }}
                            {% if form.morning_data_charge.errors %}
                            <div class="text-danger">{{ form.morning_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.morning_data_price.id_for_label }}">Morning
                                used
                                energy price
                                (₴)</label>
                            {{ form.morning_data_price }}
                            {% if form.morning_data_price.errors %}
                            <div class="text-danger">{{ form.morning_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.afternoon_data_charge.id_for_label }}">Afternoon
                                charge
                                (%)</label>
                            {{ form.afternoon_data_charge }}
                            {% if form.afternoon_data_charge.errors %}
                            <div class="text-danger">{{ form.afternoon_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.afternoon_data_price.id_for_label }}">Afternoon
                                used
                                energy price
                                (₴)</label>
                            {{ form.afternoon_data_price }}
                            {% if form.afternoon_data_price.errors %}
                            <div class="text-danger">{{ form.afternoon_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.evening_data_charge.id_for_label }}">Evening
                                charge
                                (%)</label>
                            {{ form.evening_data_charge }}
                            {% if form.evening_data_charge.errors %}
                            <div class="text-danger">{{ form.evening_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.evening_data_price.id_for_label }}">Evening
                                used
                                energy price
                                (₴)</label>
                            {{ form.evening_data_price }}
                            {% if form.evening_data_price.errors %}
                            <div class="text-danger">{{ form.evening_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-2">
                <button class="btn btn-secondary w-100" type="submit">Add entry</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
