{% url 'calculator:dashboard' as dashboard %}
{% url 'calculator:add_entry' as add_entry %}
{% url 'calculator:settings' as settings %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-5">
  <div class="container-fluid">
    <a class="navbar-brand bg-warning p-3 rounded-5 text-light" style="box-shadow: .5rem .5rem 1rem 0 rgba(255, 193, 7, .9)" href="{% url 'calculator:dashboard' %}">Solar Power Calculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == dashboard %} text-dark bold underline {% else %} text-primary {% endif %}" aria-current="page" href="{% url 'calculator:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == add_entry %} text-dark bold underline {% else %} text-primary {% endif %}" href="{% url 'calculator:add_entry' %}">Add entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == settings %} text-dark bold underline {% else %} text-primary {% endif %}" href="{% url 'calculator:settings' %}">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>